html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background: url(/img/background3.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  background-color: snow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form{
  background: inherit;
}